*{
	padding: 0;
	margin: 0;
}
html{
	font-family: "微软雅黑";
}
ul,li{
	list-style: none;
}
header{
	width: 100%;
	height: 105px;
	background-color: rgba(11,16,37,0.8);
	/*background: url(../img/navbg.png);*/
	position: fixed;
	top: 0;
	z-index: 9;
}
header>.nav{
	width: 1200px;
	height: 100px;
	/*outline: 1px solid blue;*/
	margin: 0 auto;
}
header>.header_bot{
	width: 100%;
	height: 5px;
	background:url(../img/headerbg.png);
}
.nav>.navleft{
	width: 280px;
	height: 100px;
	float: left;
	/*outline: 1px solid #CC5522;*/
	background: url(../img/logo.png) no-repeat;
	/*background-position: 100% 50%;*/
	background-size: 280px 100px;
}
.nav>.nav_top{
	width: 920px;
	height: 20px;
	line-height: 20px;
	float: right;
	/*background-color: black;*/
	position: relative;
}
.nav>.nav_top>div{
	width: 220px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	background-color: #666666;
	border-radius: 10px;
}
.nav_top>div>a{
	font-size: 12px;
    color: rgb(217, 217, 217);
    text-decoration: none;
}
.nav_top>div>a:hover{
	color: orangered;
	text-decoration: underline;
}
.nav_top>div>span{
	font-size: 12px;
    color: rgb(217, 217, 217);
}
.nav>.nav_bot{
	width: 920px;
	height: 80px;
	float: left;
	/*background-color: blueviolet;*/
}
.nav>.nav_bot>.nav_ul{
	width: 920px;
	height: 80px;
	line-height: 80px;
}
.nav>.nav_bot>.nav_ul>li{
	float: left;
	width: 110px;
	height: 80px;
	text-align: center;
	/*background-color: black;*/
	position: relative;
	z-index: 10;
}
.nav>.nav_bot>.nav_ul>li:not(:last-child){
	border-right: 1px dashed #999;
}
.nav>.nav_bot>.nav_ul>li:nth-of-type(1){
	margin-left: 130px;
}
.nav_ul>li>a{
	font-size: 16px;
   	text-decoration: none;
   	color: white;
}
.nav_ul>li:hover a{
	font-size: 18px;
}
.nav>.nav_bot>.nav_ul>li>.pp{
	display: inline-block;
	width: 2px;
	height: 10px;
	background-color: red;
	position: absolute;
	right: -2px;
	top: 20px;
}
.nav>.nav_bot>.nav_ul>li>.on{
	width: 110px;
	height: 10px;
	background-color: red;
	position: absolute;
	left: 0;
	top: 35px;
	z-index: -1;
}
.nav>.nav_bot>.nav_ul>li>.sp:not(.on){
	width: 110px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 35px;
	z-index: -1;
}
.nav_ul>li:hover .sp{
	display: block;	
	background-color: red;
}
/*lunbo*/
.mid{
	width: 100%;
	height: 640px;
	position: relative;
	z-index: 8;
}
.mid:hover{
	cursor: pointer;
}
.rain{
	width: 100%;
	height: 15px;
	line-height: 15px;
	text-align: center;
	position: absolute;
	bottom: 10px;
}
.rain>button{
	border: none;
	outline: medium;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
}
.rain>.bb{
	background-color: red;
}
.mid>button{
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: none;
	outline: medium;
	font-size: 40px;
	background-color: rgba(0,0,0,0.4);
	color:white;
	position: absolute;
	display: none;
}
.mid>.prve{
	left: 30px;
	top: 250px;
}
.mid>.next{
	right: 30px;
	top: 250px;
}
.mid:hover>button{
	display: block;
}
.rain>button:hover{
	cursor: pointer;
}
.mid>button:hover{
	cursor: pointer;
}
/*中间部分*/
.middle{
	width: 100%;
	height: 230px;
	margin-top: 40px;
	margin-bottom: 80px;
}
.middle>.middle_content{
	width: 1200px;
	height: 230px;
	margin: 0 auto;
	/*background-color: #666666;*/
}
.middle_content>div{
	width: 190px;
	height: 230px;
	/*background-color: blanchedalmond;*/
	float: left;
}
.middle_content>div:not(:first-child){
	margin-left: 12px;
}
.middiv1{
	position: relative;
}
.middiv>p{
	width: 190px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #5D6068;
	text-align: center;
}
.middiv>p>a{
	text-decoration: none;
	color: #5D6068;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.nonediv{
	width: 190px;
	height: 180px;
	position: absolute;
	top: 0;
	display: none;
}
.middiv1:hover .nonediv{
	display: block;
}
.middiv>p:nth-of-type(2){
	cursor: pointer;
}
.middiv:nth-of-type(1)>p>a:hover{
	color: #F2A44D;
}
.middiv:nth-of-type(2)>p>a:hover{
	color: #1FA6E8;
}
.middiv:nth-of-type(3)>p>a:hover{
	color: #3BC9BA;
}
.middiv:nth-of-type(4)>p>a:hover{
	color: #E86565;
}
.middiv:nth-of-type(5)>p>a:hover{
	color: #A5D257;
}
.middiv:nth-of-type(6)>p>a:hover{
	color: #B672F0;
}
/*公司新闻*/
.main{
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
}
.main_main{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	/*background-color: #1FA6E8;*/
	margin-bottom: 40px;
}
.main_left{
	width: 300px;
	height: 300px;
	float: left;
	background: url(../img/mapbg.png) no-repeat;
	background-size:98% 100%;
	/*background-position-x: -30px;*/
	position: relative;
}
.main_left>p{
	width: 270px;
	height: 18px;
	line-height: 18px;
	/*outline: 1px solid #5D6068;*/
	color: #5D6068;
}
.main_left>p>span:nth-of-type(1){
	font-size: 20px;
	color: red;
}
.left_main{
	width: 260px;
	height: 220px;
	background-color: #E2E2E7;
	margin: 20px 10px;
	border-radius: 10px;
}
.left_main1{
	width: 260px;
	height: 100px;
	text-align: center;
}
.left_main1:hover{
	cursor: pointer;
}
.left_main>p>span:nth-of-type(1){
	color: #CE001D;
}
.left_main>p{
	margin-top: 10px;
}
.more{
	width: 26px;
	height: 25px;
	/*background-color: blue;*/
	color: red;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0px;
}
.more>p{
	font-size: 9px;
}
.more:hover{
	cursor: pointer;
}
.main_mid{
	width: 690px;
	height: 300px;
	float: left;
	/*background-color: blue;*/
	margin: 0 5px;
}
.mid_top{
	width: 690px;
	height: 40px;
	line-height: 30px;
	/*background-color: white;*/
	border-bottom: 1px dashed #666666;
	position: relative;
}
.mid_top>span{
	display: inline-block;
	width: 100px;
	font-size: 20px;
	text-align: center;
}
.mid_top>span:nth-of-type(1){
	background-color: red;
	color: white;
}
.mid_top>span:hover{
	cursor: pointer;
}
.mid_top>img{
	position: absolute;
	right: 0;
	bottom: 10px;
}
.mid_top>img:hover{
	cursor: pointer;
}
.mid_main{
	width: 690px;
	height: 260px;
	/*background: #1FA6E8;*/
}
.mid_main>div{
	border-bottom: 1px dashed #666666;
}
.mid_main>div:nth-of-type(1){
	height: 100px;
}
.mid_main>div:nth-of-type(2){
	height: 130px;
}
.mid_main>div>p{
	margin-top: 10px;
	text-align: justify;
}
.mid_main>div>p:nth-of-type(1)>span:nth-of-type(1){
	font-size: 18px;
	font-weight: 500;
}
.mid_main>div>p:nth-of-type(1)>span:nth-of-type(1):hover{
	cursor: pointer;
}
.mid_main>div>p:nth-of-type(1)>span:nth-of-type(2){
	font-size: 14px;
	display: inline-block;
	float: right;
}
.main_midmain{
	width: 690px;
	height: 100px;
	line-height: 60px;
	display: none;
}

.main_right{
	width: 200px;
	height: 300px;
	float: right;
	background: url(../img/more.jpg) no-repeat;
	background-size: cover;
	/*position: relative;*/
}
.right_main1{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 30px;
	font-weight: 800;
	box-shadow: 0 0 0 5px white;
	margin-left: 90px;
	margin-top: 80px;
}
.right_main2{
	width:120px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-left:70px;
	margin-top: 130px;
}
.right_main2>a{
	text-decoration: none;
	color: white;
}
/*返回顶部*/
.backTop{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #111111;
	color: white;
	font-size: 16px;
	position: fixed;
	right: 0;
	bottom: 120px;
	display: none;
}
.backTop:hover{
	cursor: pointer;
	background-color: #808080;
}
/*底部*/
footer{
	width: 100%;
	height: 110px;
	background-color: #292C39;
}
.footer_main{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	text-align: center;
}
.footer_main>p{
	width: 500px;
	height: 30px;
	text-align: center;
	line-height: 80px;
	margin: 0 auto;
	/*background-color: blue;*/
	color: #767780;
	font-size: 13px;
}

